* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container__weather {
  height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background: url("../img/background_1.jpg") center content-box;
}